:root {
  // colors
  --light: #7ea6e5;
  --primary: #2963bf;
  --dark: #3524a3;
  --text: #333;
  --background: #F1F1F1;
  --hint: #6F6F6F;
  --border: #ddd;

  // font
  --font-family: "Mulish", sans-serif;
}
